.App {
  text-align: center;
}

.App-header {
  background-color: #fffeef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  padding-top: 50px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.App-link {
  color: #e9b51b;
}

input[type="text"] { 
  padding: 20px; 
  margin: 20px; 
  font-size: 24px;
  color:#9b2032; 
  width: 80%; 
  max-width: 600px; 
  border: 3px solid #9b2032;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(138, 5, 5, 0.1); 
  transition: box-shadow 0.3s ease; 
} 

input[type="text"]:focus {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2); 
}

input[type="text"]::placeholder {
  color: #9b2032; 
}

 
button { 
  padding: 20px 40px; 
  margin: 20px; 
  font-size: 24px; 
  background-color: #9b2032; 
  border: none; 
  color: #fffeef; 
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
} 
 
button:hover { 
  background-color: #974e46;
  transform: translateY(-3px); 
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2); 
} 
 
.success-message { 
  color: green; 
  font-size: 18px; 
} 
 
.error-message { 
  color: red; 
  font-size: 18px; 
}

.connected-message { 
  color: black; 
  font-size: 18px; 
}

.title {
  color: #9b2032; /* Stesso colore del bottone */
  margin-bottom: 20px;
}

/* Contenitore dei messaggi */
.messages-container {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fffeef;
  border: 3px solid #9b2032;
  border-radius: 5px;
  color: #9b2032;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Ridimensiona contenitore se non ci sono messaggi */
.messages-container.empty {
  height: 50px; /* Altezza ridotta quando vuoto */
  padding: 20px;
  justify-content: center; /* Centra il titolo verticalmente */
}

.messages-container h2 {
  margin: 0;
}

.messages-container ul {
  list-style-type: disc;
  padding-left: 40px;
  margin: 10px 0;
  width: 100%;
}

.messages-container li {
  margin: 5px 0;
  text-align: left;
  color: #9b2032;
}